body{
	background-image: url("img/background.png");
	font-family: 'Raleway', sans-serif;

}


/**** GENERAL ****/
#topnav
{
	z-index: 999;
	position: -webkit-sticky;
	position: sticky;
	top: 10px;
	height: 45px;
	line-height: 45px;
	background: white;
	overflow: hidden;
	list-style-type: none;
    margin: auto;
	width:85%;
    background-color: rgba(27, 221, 255, 0.8);
	border-radius: 12px;
}
#topnav li{
	float: left;
	width:20%;
	font-weight:bold;
	cursor: pointer;
}
#topnav li a{
	display: block;
	position: relative;
    text-align: center;
	padding: 14px 25px;
    text-decoration: none;
	bottom: 15px;
}
#topnav li a:hover{
	background-color: rgba(59, 164, 196, 0.6);
}

#pois_table{
	top:150px;
	position: absolute;
	overflow: auto;

}

/**** REGISTER ****/
button{
  line-height: 1.5;
  font-size-adjust: inherit;
  width: 90px;
  height: 30px;
  font-size:16px;
  border-radius:20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
	outline:none;
	border: 1px solid rgba(5, 8, 202, 0.767);


}
button:hover{
	background: rgba(21, 124, 207, 0.4);
	cursor: pointer;
}
#movie_pic{
    position:absolute;
    width:300px;
    height:400px;
    left:50px;
    opacity: 0.9;
    border-radius: 10px;
}
/**** footer ****/
#footer{
    z-index:-1;
    position: relative;
    bottom: 0;
    height: 60px;
    width: 100%;
    color: #0366d6;
    font-size: 18px;
    text-align: center;
    margin:0 auto;
  }

#footer_pic{
    height:60px;
    width:60px;
}

.networkref{
    margin:0 auto;
    display: inline-block;
    margin-left: 45%;
    margin-top: 30px;
    
}
.networkref:hover{
    cursor: pointer;

}
#network:hover{
    cursor: pointer;
}
/**** GUEST ****/
#guest_table{
	width: 75%;
	margin: 0 auto;
	position: relative;
	bottom: 0px;

}
#guest_table tr td{
	width:33.33%;
}
#guest_morocco{
	margin-left: 30%;
	width:550px;
	height:330px;
}
#register_cheering{
	margin-left: 25%;
}
#register_cheering_button{
	margin-left: 45%;
}
.side_spans{
	margin-left: 10%;
}
#casablanca{
	font-size:50px;
	margin-left: 40%;
}
/**** ABOUT ****/
#shivuk_img{
    margin-left: 34% ;
    width: 400px;
    height: 400px;

}


/**** REGISTERED USERS ****/
#ru_fav_table{
	width: 75%;
	margin: 0 auto;
}
#ru_fav_table tr td{
	width:33.33%;
}
#ru_recent_table{
	width: 75%;
	margin: 0 auto;
}
#ru_recent_table tr td{
	width:33.33%;
}
.favs{
	cursor: pointer;
}
#noPoisForUser{

}
#balloon{
	width:100px;
	height:100px;
}

/**** POIS PAGE ****/
.pois_click{
	cursor: pointer;
}
.review_img{
	cursor: pointer;
	
}
#pois_table{
	width:100%;
}

/**** LOGIN ****/
#login-table{
	margin-left:100px;
}
/**** FAVS ****/
#fav_fav_table{
	width: 0%;
	margin: 0 auto;
}

#save_favs_img{
	margin-left: 43% ;
	cursor: pointer;
}
#sortFavs{
	margin-left: 5% ;
	cursor: pointer;
	position: absolute;
}
#fav_button{
	width:270px;
	background-color: rgba(178,10,23,0.4);
}
#fav_button:hover{
	background-color: rgba(255,10,23,0.7);
}

/* The Modal (background) */


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: rgba(250,250,248,1);
    background-image: url("img/maroc_flag.png");
    background-size: 50%;
    background-position-x: 80%;
    background-position-y: 70%;
    background-repeat:no-repeat;
    border-radius: 10px;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    padding-left:50px;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
#review{
    margin-top:0px;
    width:300px;    
    height:70px;
}
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

/**** Single point of interest ****/
#map { 
    height: 400px;
    width: 700px;
}

.rating{
    /*position: absolute;*/
    display:flex;
    transform: translate(-75%, -50%) rotateY(180deg);
}
.rating input{
    display:none;
}
.rating label{
    display:block;
    cursor:pointer;
    width:40px;
    height:30px;
    
}
.rating label:before{
    content: '\f005';
    font-family: fontAwesome;
    position: relative;
    display: block;
    font-size:30px;
    color:#101010;
}
.rating label:after{
    content: '\f005';
    font-family: fontAwesome;
    position: relative;
    display: block;
    font-size:30px;
    color:#21b928;
    top:-30px;
    opacity:0;
    transition:.5s;
    text-shadow: 0 2px 5px rgba(0,0,0,.5);
}
.rating label:hover:after,
.rating label:hover ~ label:after,
.rating input:checked ~ label:after
{
    opacity: 1;
}