body{
	background-image: url("img/background.png");
}


/**** GENERAL ****/
#topnav
{
	z-index: 999;
	position: -webkit-sticky;
	position: sticky;
	top: 20px;
	height: 45px;
	line-height: 45px;
	background: white;
	overflow: hidden;
	list-style-type: none;
    margin: auto;
	width:60%;
    background-color: rgba(200,180,240,0.8);
    border-radius: 12px;
}
#topnav li{
	float: left;
	width:20%;
	font-weight:bold;
}
#topnav li a{
	display: block;
	position: relative;
    text-align: center;
	padding: 14px 25px;
    text-decoration: none;
	bottom: 15px;
}
#topnav li a:hover{
	background-color: rgba(200,80,255,0.6);
}

#pois_table{
	top:100px;
	position: absolute;
	overflow: auto;

}

#side_pois{
}

/**** GUEST ****/
#guest_table{
	width: 75%;
	margin: 0 auto;
}
#guest_table tr td{
	width:33.33%;
}

/**** ABOUT ****/
#shivuk_img{
    margin: 0 auto;
    width: 400px;
    height: 400px;

}


/**** REGISTERED USERS ****/
#ru_fav_table{

}
#ru_recent_table{
	
}