body{
	background-image: url("img/background.png");
}


/**** GENERAL ****/
#topnav
{
	z-index: 999;
	position: -webkit-sticky;
	position: sticky;
	top: 20px;
	height: 45px;
	line-height: 45px;
	background: white;
	overflow: hidden;
	list-style-type: none;
    margin: auto;
	width:85%;
    background-color: rgba(200,180,240,0.8);
    border-radius: 12px;
}
#topnav li{
	float: left;
	width:20%;
	font-weight:bold;
	cursor: pointer;
}
#topnav li a{
	display: block;
	position: relative;
    text-align: center;
	padding: 14px 25px;
    text-decoration: none;
	bottom: 15px;
}
#topnav li a:hover{
	background-color: rgba(200,80,255,0.6);
}

#pois_table{
	top:150px;
	position: absolute;
	overflow: auto;

}

/**** GUEST ****/
#guest_table{
	width: 75%;
	margin: 0 auto;
	position: relative;
	bottom: 0px;

}
#guest_table tr td{
	width:33.33%;
}
#register_cheering{
	margin-left: 30%;
	width:500px;
	height:300px;
	cursor: pointer;
}
.side_spans{
	margin-left: 10%
}
/**** ABOUT ****/
#shivuk_img{
    margin-left: 30% ;
    width: 400px;
    height: 400px;

}


/**** REGISTERED USERS ****/
#ru_fav_table{
	width: 75%;
	margin: 0 auto;
}
#ru_fav_table tr td{
	width:33.33%;
}
#ru_recent_table{
	width: 75%;
	margin: 0 auto;
}
#ru_recent_table tr td{
	width:33.33%;
}
.favs{
	cursor: pointer;
}
#noPoisForUser{

}
#balloon{
	width:100px;
	height:100px;
}

/**** POIS PAGE ****/
.pois_click{
	cursor: pointer;
}
.review_img{
	cursor: pointer;
	
}
#pois_table{
	width:100%;
}