<h1 style="margin-left: 30%">Forget your password?</h1><br>
<div>
        <form style="margin-left: 30%" name="form2" novalidate>
            <label>User Name:
            <input type="text" ng-model="frgtCtrl.user.userName" name="userName" required="" />
            </label>
            <br />
            <div ng-show="form.$submitted || form.userName.$touched">
            <div ng-show="form.userName.$error.required">Please enter a user name.</div>
            </div>
            <label>First Question: What is your birth city?</label><br>
            <label>Answer to the first question:
            <input type="text" ng-model="frgtCtrl.user.answer[0]" name="firstAns" required="" />
            </label>
            <br />
            <div ng-show="form2.$submitted || form.firstAns.$touched">
            <div ng-show="form2.firstAns.$error.required">Please enter an answer.</div>
            </div>
        
            <label>Second Question: What is your mother's maiden name?</label><br>

            <label>Answer to the second question:
            <input type="text" ng-model="frgtCtrl.user.answer[1]" name="secondAns" required="" />
            </label>
            <br />
            <div ng-show="form2.$submitted || form2.secondAns.$touched">
            <div ng-show="form2.secondAns.$error.required">Please enter a answer.</div>
            </div>
        </form>
     </div>

     <br>
     <button style="margin-left: 30%" ng-click="frgtCtrl.getPassword()" ng-disabled="!form2.$valid">Get my password</button>
     <span ng-bind="frgtCtrl.getPassword.content"></span>
     <br>