<p class="side_spans"> <span ng-bind="fvrtlCtrl.userName"></span>'s favourite points: </p>

<table id="fav_fav_table">
    <tr>
            <td ng-repeat="(id, poi) in fvrtlCtrl.fav_pois">
                <a ng-click="fvrtlCtrl.singlePOI(poi.name)"> <span class="pois_click" ng-bind="poi.name"></span></a>
                <span ng-show="poi.poi_saved=='full_heart'">
                    <a ng-click="fvrtlCtrl.removePOI(poi.name)"><img class="favs" ng-style="{'height': '20px','width': '20px'}" ng-src="../../routing/resources/img/{{poi.poi_saved}}.png"/></a>
                </span>
                <span ng-show="poi.poi_saved=='empty_heart'">
                        <a ng-click="fvrtlCtrl.savePOI(poi.name)"><img class="favs" ng-style="{'height': '20px','width': '20px'}" ng-src="../../routing/resources/img/{{poi.poi_saved}}.png"/></a>
                </span>
                <a ng-click="fvrtlCtrl.rankAndReview(poi.name)"><img class="review_img" ng-src="../../routing/resources/img/review.png"/></a>
                <br> 
                <a ng-click="fvrtlCtrl.singlePOI(poi.name)"><img class="pois_click" ng-style="{'height': '110px','width': '150px', 'border-radius': '10px'}" ng-src="../../tokens{{poi.poi_img}}"></a>
                <br>
                <span ng-show="fvrtlCtrl.sortMode"><input ng-click="fvrtlCtrl.insert(poi.name)" type = "checkbox">Select point</input></span>
                </td>
    </tr>
            
    
</table>
<span class="side_spans" ng-show="fvrtlCtrl.noPoisForUser"><img id="balloon" ng-src="../../routing/resources/img/hot-air-balloon.png"/>We recommend you start saving some points... :)</span>
<br>
<br>
<br>
<span id="save_favs_img" class="tooltip">
    <img ng-show="!fvrtlCtrl.noPoisForUser" ng-click="fvrtlCtrl.saveFavoritesToDB()" ng-src="../../routing/resources/img/book-bag.png"/>
    <span class="tooltiptext">Save your favorite points.</span>
</span>

<span id="sortFavs" class="tooltip">
<img ng-click="fvrtlCtrl.goToSortMode()" ng-show="!fvrtlCtrl.noPoisForUser" ng-src="../../routing/resources/img/sort.png"/>
<span class="tooltiptext">Plan your trip by setting an order to your points.</span>
</span>

<span ng-show="!fvrtlCtrl.noPoisForUser && fvrtlCtrl.sortMode">

<h3>Order of POIS</h3>
    <table id="newOrder" ng-repeat="x in fvrtlCtrl.order">
        <tr >
          <td>{{ x }}</td>
        </tr>
    </table>

    <button ng-click="fvrtlCtrl.saveNewOrder()" ng-disabled="fvrtlCtrl.disableNewOrder">Save new order</button>
    <span ng-bind="fvrtlCtrl.saveNewOrder.content"></span>
</span>

<form name="form" novalidate>
        <h1>Filter by category:</h1>
        <select ng-model="fvrtlCtrl.chosenCategory" name="category" required>
                <option value="" disabled selected>Select your category</option>
                <option ng-repeat="category in fvrtlCtrl.categories" value="{{category.value}}">{{category.value}}</option>
        </select>
        <br />
        <div ng-show="form.$submitted || form.category.$touched">
        <div ng-show="form.category.$error.required">Please choose category.</div>
        </div><br>
        <button style="width:250px" ng-click="fvrtlCtrl.filterByCategory()" ng-disabled="!form.$valid">Filter/Unfilter by category</button>
        <span ng-bind="fvrtlCtrl.sort.content"></span>
        </form>
        
        <div ng-show="fvrtlCtrl.filter">
                <table>
                        <tr>
                            <td ng-repeat="p in fvrtlCtrl.poisToShow">
                                    <a ng-click="fvrtlCtrl.singlePOI(p.name)"><img class="pois_click" ng-style="{'height': '60px','width': '100px', 'border-radius': '10px'}" ng-src="../../tokens{{p.poi_img}}"></a>
                                    <a ng-click="fvrtlCtrl.singlePOI(p.name)"><span class="pois_click" ng-bind="p.name"></span></a>
                                    <span ng-show="!fvrtlCtrl.guest">
                                            <span ng-show="p.poi_saved=='full_heart'" class="tooltip">
                                                <a ng-click="fvrtlCtrl.removePOI(p.name)"><img class="favs" ng-style="{'height': '20px','width': '20px'}" ng-src="../../routing/resources/img/{{p.poi_saved}}.png"/></a>
                                                <span class="tooltiptext">Remove from favorites</span>
                                            </span>
                                            <span ng-show="p.poi_saved=='empty_heart'" class="tooltip">
                                                <a ng-click="fvrtlCtrl.savePOI(p.name)"><img class="favs" ng-style="{'height': '20px','width': '20px'}" ng-src="../../routing/resources/img/{{p.poi_saved}}.png"/></a>
                                                <span class="tooltiptext">Add to favorites</span>
                                            </span>
                                            <span class="tooltip">
                                                <a ng-click="fvrtlCtrl.rankAndReview(p.name)"><img class="review_img" ng-src="../../routing/resources/img/review.png"/></a>
                                            <span class="tooltiptext">Rank/Review</span>
                                            </span>
                                    </span>
                            </td>
                        </tr>
                </table>
        </div>
        
        <br>



<!-- The Modal -->
<div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
          <span class="close">&times;</span>
          <form name="form2" novalidate>
              <b>Rank and review <span ng-bind="fvrtlCtrl.modal.poi"></span>!</b>
              <br><br>
              <label>Rank:
              <select id="selectRank" ng-model="fvrtlCtrl.modal.rank" name="rankSelect" required>
                      <option value="" disabled selected>Select your rank</option>
                      <option ng-repeat="n in [] | range:5" value="{{$index + 1}}">{{$index + 1}}</option>
              </select>
              </label>
      
              <div ng-show="form2.$submitted || form2.rankSelect.$touched">
              <div ng-show="form2.rankSelect.$error.required">Please choose rank in order to submit.</div>
              </div><br>
              <button ng-click="fvrtlCtrl.setRank()" ng-disabled="!form2.$valid">Submit rank</button>
              <span ng-bind="fvrtlCtrl.setRank.content"></span>
          </form>
      
          <form name="form3" novalidate>
          <label>Review:
          <input id="review" type="text" name="review" ng-model="fvrtlCtrl.modal.review" required="" placeholder="Enter your review...">
          </label>
      
          <div ng-show="form3.$submitted || form3.review.$touched">
          <div ng-show="form3.review.$error.required">Please enter your review in order to submit.</div>
          </div><br>
          <button ng-click="fvrtlCtrl.setReview()" ng-disabled="!form3.$valid">Submit review</button>
          <span ng-bind="fvrtlCtrl.setReview.content"></span>
          </form>
      
      
              </div>
        </div>