Hello <span ng-bind="ruCtrl.userName"></span>!
<br>
<button ng-click="ruCtrl.logout()">Logout</button>
<br>
<p class="side_spans">2 most popular points of interest from <span ng-bind="ruCtrl.userName"></span>'s favourite categories: </p>
<table id="ru_fav_table">
    <tr>
            <td ng-repeat="(id, poi) in ruCtrl.two_fav_pois">
                <a ng-click="ruCtrl.singlePOI(poi.name)"> <span class="pois_click" ng-bind="poi.name"></span></a>
                
                <span ng-show="poi.poi_saved=='full_heart'">
                    <a ng-click="ruCtrl.removePOI('favs', poi.name)"><img class="favs" ng-style="{'height': '20px','width': '20px'}" ng-src="../../routing/resources/img/{{poi.poi_saved}}.png"/></a>
                </span>
                <span ng-show="poi.poi_saved=='empty_heart'">
                        <a ng-click="ruCtrl.savePOI('favs', poi.name)"><img class="favs" ng-style="{'height': '20px','width': '20px'}" ng-src="../../routing/resources/img/{{poi.poi_saved}}.png"/></a>
                </span>
                <a ng-click="ruCtrl.rankAndReview(poi.name)"><img class="review_img" ng-src="../../routing/resources/img/review.png"/></a>
                <br> 

                <a ng-click="ruCtrl.singlePOI(poi.name)"><img class="pois_click" ng-style="{'height': '100px','width': '150px', 'border-radius': '10px'}" ng-src="../../tokens{{poi.poi_img}}"></a>
                <br>
                </td>
    </tr>
            
    
</table>
<br>
<p class="side_spans"><span ng-bind="ruCtrl.NumOfSavedPois"></span> most recent points of interest saved by <span ng-bind="ruCtrl.userName"></span>'s favourite categories:</p>


<table id="ru_recent_table">
    <tr>
            <td ng-repeat="(id, poi) in ruCtrl.two_recent_pois">
                <a ng-click="ruCtrl.singlePOI(poi.name)"> <span class="pois_click" ng-bind="poi.name"></span></a>
                <span ng-show="poi.poi_saved=='full_heart'">
                    <a ng-click="ruCtrl.removePOI('recent', poi.name)"><img class="favs" ng-style="{'height': '20px','width': '20px'}" ng-src="../../routing/resources/img/{{poi.poi_saved}}.png"/></a>
                </span>
                <span ng-show="poi.poi_saved=='empty_heart'">
                        <a ng-click="ruCtrl.savePOI('recent', poi.name)"><img class="favs" ng-style="{'height': '20px','width': '20px'}" ng-src="../../routing/resources/img/{{poi.poi_saved}}.png"/></a>
                </span>
                <a ng-click="ruCtrl.rankAndReview(poi.name)"><img class="review_img" ng-src="../../routing/resources/img/review.png"/></a>
                <br> 
                <br> 
                <a ng-click="ruCtrl.singlePOI(poi.name)"><img class="pois_click" ng-style="{'height': '100px','width': '150px', 'border-radius': '10px'}" ng-src="../../tokens{{poi.poi_img}}"></a>
                <br>
            </td>
    </tr>
            
    
</table>
<span class="side_spans" ng-show="ruCtrl.noPoisForUser"><img id="balloon" ng-src="../../routing/resources/img/hot-air-balloon.png"/>We recommend you start saving some points... :)</span>


<!-- The Modal -->
<div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
          <span class="close">&times;</span>
          <form name="form2" novalidate>
              <b>Rank and review <span ng-bind="ruCtrl.modal.poi"></span>!</b>
              <br><br>
              <label>Rank:
              <select id="selectRank" ng-model="ruCtrl.modal.rank" name="rankSelect" required>
                      <option value="" disabled selected>Select your rank</option>
                      <option ng-repeat="n in [] | range:5" value="{{$index + 1}}">{{$index + 1}}</option>
              </select>
              </label>
      
              <div ng-show="form2.$submitted || form2.rankSelect.$touched">
              <div ng-show="form2.rankSelect.$error.required">Please choose rank in order to submit.</div>
              </div><br>
              <button ng-click="ruCtrl.setRank()" ng-disabled="!form2.$valid">Submit rank</button>
              <span ng-bind="ruCtrl.setRank.content"></span>
          </form>
      
          <form name="form3" novalidate>
          <label>Review:
          <input id="review" type="text" name="review" ng-model="ruCtrl.modal.review" required="" placeholder="Enter your review...">
          </label>
      
          <div ng-show="form3.$submitted || form3.review.$touched">
          <div ng-show="form3.review.$error.required">Please enter your review in order to submit.</div>
          </div><br>
          <button ng-click="ruCtrl.setReview()" ng-disabled="!form3.$valid">Submit review</button>
          <span ng-bind="ruCtrl.setReview.content"></span>
          </form>
      
      
              </div>
        </div>