Hello guest!
<br>
<button ng-click="gstCtrl.login()">Login</button>
<br>
<br>
<img id="register_cheering" ng-click="gstCtrl.register()" ng-src="../../routing/resources/img/cheers.jpg">
<br>
<div id="random_pois">
        <table id="guest_table">
                <span class="side_spans">Explore popular points of interest at our website:</span>
                <tr>
                        <td ng-repeat="(id, poi) in gstCtrl.rand_pois">
                                <a ng-click="gstCtrl.singlePOI(poi.name)"> <span ng-bind="poi.name"></span></a>
                                <br> 
                                <a ng-click="gstCtrl.singlePOI(poi.name)"><img ng-style="{'height': '100px','width': '150px', 'border-radius': '10px'}" ng-src="../../tokens{{poi.poi_img}}"></a>
                                <br>
                                </td>
                </tr>
                        
                
        </table>
    </div>
 